/**
 * $ARROW
 */
/**
 * $HLIST
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\000035}}
body,
button,
input,
select,
textarea {
  color: #404040;
  font-family: sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5; }

/* Headings */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\0000314}}
h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\0000318}}
hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

/* Text elements */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\0000326}}
p {
  margin-bottom: 1.5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\0000329}}
ul, ol {
  margin: 0 0 1.5em 3em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\0000332}}
ul {
  list-style: disc; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\0000335}}
ol {
  list-style: decimal; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\0000339}}
li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\0000343}}
dt {
  font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\0000346}}
dd {
  margin: 0 1.5em 1.5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\0000349}}
b, strong {
  font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\0000352}}
dfn, cite, em, i {
  font-style: italic; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\0000355}}
blockquote {
  margin: 0 1.5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\0000358}}
address {
  margin: 0 0 1.5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\0000361}}
pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  padding: 1.6em;
  overflow: auto;
  max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\0000372}}
code, kbd, tt, var {
  font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\0000375}}
abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\0000379}}
mark, ins {
  background: #fff9c0;
  text-decoration: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\0000384}}
sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\0000391}}
sup {
  bottom: 1ex; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\0000394}}
sub {
  top: .5ex; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\0000397}}
small {
  font-size: 75%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\00003100}}
big {
  font-size: 125%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\00003103}}
figure {
  margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\00003106}}
table {
  margin: 0 0 1.5em;
  width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\00003110}}
th {
  font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\00003113}}
img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

/* Links */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\00003119}}
a {
  color: royalblue; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/abstractions\/_hoverActiveFocus\.scss}line{font-family:\000033}}
  a:hover, a:active, a:focus {
    color: #132c76; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\00003123}}
a:visited {
  color: purple; }
