/**
 * $ARROW
 */
/**
 * $HLIST
 */
/**
 * $BASE-TYPOGRAPHY
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\000035}}
html {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #404040;
  /* Large desktop */
  /* Portrait tablet to landscape and desktop */
  /* Landscape phone to portrait tablet */ }
  @media (min-width: 37.5em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\000035}}
    html {
      font-size: 1.1em; } }
  @media (min-width: 75em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\000035}}
    html {
      font-size: 1.2em; } }
  @media (min-width: 75em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\000035}}
    html {
      font-size: 1.3em; } }

/**
 * $STYLES
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\0000331}}
em, i {
  font-style: italic;
  font-weight: 400; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\0000336}}
strong, b {
  font-style: normal;
  font-weight: 700; }

/**
 * $HEADINGS
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\0000345}}
h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\0000349}}
  h1 strong, h1 b, h2 strong, h2 b, h3 strong, h3 b, h4 strong, h4 b, h5 strong, h5 b, h6 strong, h6 b {
    font-weight: 700; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\0000352}}
  h1 em, h1 i, h2 em, h2 i, h3 em, h3 i, h4 em, h4 i, h5 em, h5 i, h6 em, h6 i {
    font-style: italic;
    font-weight: 400; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\0000363}}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.28571em;
  color: #58595b;
  font-family: sans-serif;
  text-transform: uppercase;
  -webkit-transition: font-size 0.3s ease-out;
  -moz-transition: font-size 0.3s ease-out;
  -o-transition: font-size 0.3s ease-out;
  transition: font-size 0.3s ease-out; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\0000370}}
  h1 a,
  h1 a:visited,
  h2 a,
  h2 a:visited,
  h3 a,
  h3 a:visited,
  h4 a,
  h4 a:visited,
  h5 a,
  h5 a:visited,
  h6 a,
  h6 a:visited {
    color: inherit;
    text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\0000374}}
  h1 a:hover,
  h2 a:hover,
  h3 a:hover,
  h4 a:hover,
  h5 a:hover,
  h6 a:hover {
    color: #2ecc40; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\0000380}}
h1 {
  font-size: 40px;
  font-size: 2.85714rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\0000384}}
h2 {
  font-size: 28px;
  font-size: 2rem;
  color: #5A5A5C; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\0000389}}
h3 {
  font-size: 21px;
  font-size: 1.5rem;
  color: #8d8d8f; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\0000394}}
h4 {
  font-size: 18px;
  font-size: 1.28571rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\0000398}}
h5 {
  font-size: 16px;
  font-size: 1.14286rem; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\00003102}}
h6 {
  font-size: 14px;
  font-size: 1rem;
  color: #5A5A5C; }

/**
 * $PARAGRAPHS
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\00003111}}
p,
blockquote {
  margin: 0;
  margin-top: 0em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 1.42857em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\00003115}}
p + img {
  float: left;
  margin-right: 1em; }

/**
 * $QUOTES
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\00003123}}
blockquote {
  margin-top: 0em;
  padding-top: 1.42857em;
  padding-bottom: 1.42857em;
  margin-bottom: 1.42857em;
  padding: 0 1.5em;
  border-style: solid;
  border-width: 0.07143em;
  padding: 1.35714em;
  border-left-style: solid;
  border-left-width: 0.71429em;
  padding-left: 0.71429em;
  font-style: italic;
  color: #2ecc40; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\00003133}}
  blockquote p {
    margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\00003138}}
q {
  font-style: italic; }

/**
 * $MARKS
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\00003146}}
mark,
ins {
  text-decoration: none;
  padding: 0.1em 0.5em;
  background: #40a6ff;
  color: #fff;
  font-size: 12px;
  font-size: 0.85714rem;
  text-transform: capitalize;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\00003160}}
hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

/* Text elements */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\00003168}}
address {
  margin: 0 0 1.5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\00003172}}
pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  padding: 1.6em;
  overflow: auto;
  max-width: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\00003184}}
code, kbd, tt, var {
  font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\00003188}}
abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\00003194}}
sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\00003202}}
sup {
  bottom: 1ex; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\00003206}}
sub {
  top: .5ex; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\00003210}}
small {
  font-size: 75%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\00003214}}
big {
  font-size: 125%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/joel\/Sites\/sassy_s\/sass\/base\/_typography\.scss}line{font-family:\00003218}}
figure {
  margin: 0; }
