// Breakpoint Variables
$breakpoint-to-ems: true;

// Media query variables.
$mobile:  0;
$tablet:  600px;
$normal:    1200px;
$wide:    1200px;


// Set consistent vertical and horizontal spacing units.
$vert-spacing-unit: 1.5em;
$horz-spacing-unit: 1em;

$tab: 44em;
$desk: 70em;

// $grids: 4;
// $grids: add-grid(12 at $tab);

$grids: 12;
$gutters: 1/3;

// Supported Values for $layout:
//  null | content-sidebar | sidebar-content
$layout: null !default;






