
/**
 * $BASE-TYPOGRAPHY
 */
html {
  font-family: $base-font;
  font-size: $base-font-size;
  font-weight: 400;
  line-height: 1.5;
  color: $text-color;

  /* Large desktop */
  @include breakpoint ($tablet) {
    font-size: em($base-font-size * 1.1);
  }

  /* Portrait tablet to landscape and desktop */
  @include breakpoint ($normal) {
    font-size: em($base-font-size * 1.2);
  }

  /* Landscape phone to portrait tablet */
  @include breakpoint ($wide) {
    font-size: em($base-font-size * 1.3);
  }
}

/**
 * $STYLES
 */
em, i {
  font-style: italic;
  font-weight: 400;
}

strong, b {
  font-style: normal;
  font-weight: 700;
}


/**
 * $HEADINGS
 */
h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  font-style: normal;
  font-weight: 400;
  strong, b {
    font-weight: 700;
  }
  em, i {
    font-style: italic;
    font-weight: 400;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include rhythm(0, 0, 0, 0.2);
  color: #58595b;
  font-family: $header-font;
  text-transform: uppercase;

  a,
  a:visited {
    color: inherit;
    text-decoration: none;
  }
  a:hover {
    color: $primary-color;
  }
  @include transition(font-size 0.3s ease-out);
}

h1 {
  @include font-size(40px);
}

h2 {
  @include font-size(28px);
  color: #5A5A5C;
}

h3 {
  @include font-size(21px);
  color: lighten(#5A5A5C, 20%);
}

h4 {
  @include font-size(18px);
}

h5 {
  @include font-size(16px);
}

h6 {
  @include font-size(14px);
  color: #5A5A5C;
}

/**
 * $PARAGRAPHS
 */
p,
%p {
  margin: 0;
  @include rhythm(0, 0, 0, 1);
}
p + img {
  float: left;
  margin-right: $horz-spacing-unit;
}

/**
 * $QUOTES
 */
blockquote {
  @extend %p;
  @include rhythm(0, 1, 1, 1);
  padding: 0 1.5em;

  @include rhythm-borders(1px);
  @include apply-side-rhythm-border(left, 10px);
  font-style: italic;
  color: $primary-color;

  p {
    margin: 0;
  }
}

q {
  font-style: italic;
}

/**
 * $MARKS
 */
mark,
ins {
  text-decoration: none;
  padding: 0.1em 0.5em;
  background: lighten($blue, 20%);
  color: #fff;
  @include font-size(12px);
  text-transform: capitalize;

  @include border-radius(10px);
}




hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: $vert-spacing-unit;
}

/* Text elements */
address {
	margin: 0 0 $vert-spacing-unit;
}

pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	padding: 1.6em;
	overflow: auto;
	max-width: 100%;
}

code, kbd, tt, var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: .5ex;
}

small {
	font-size: 75%;
}

big {
	font-size: 125%;
}

figure {
	margin: 0;
}

